<html>
	<head title = "login">
		<style type="text/css">			
			#loginForm
			{
				border-style: solid;
				border-radius: 25px;
				border-width: 3px;

				float: center;
				padding-top: 10px;

				margin-right: 40%;
				margin-left: 40%;
				margin-top: 10%;

				font-family: "Lucida Console", Monaco, monospace;
			}
		</style>
	</head>
	<body>
		<div id="loginForm">
			<center>
				<u>Please Log In</u><br><br>
				<form method="post">
				User name<br>
				<input type="text" name="username"><br>
				Password<br>
				<input type="password" name="password"><br>
				<input type="submit" value="Log in"><br>
				{% if error %}{{error}}{% endif %}
			</form>
			</center>
		</div>
	</body>
</html>