<!DOCTYPE html>
<html>
<head>
	<title>menu</title>
	<style type="text/css">
		.menuButton{
			border-radius: 25px;
			border-style: solid;
			font-family: "Lucida Console", Monaco, monospace;
			width: 80%;
			margin: 10px;
			font-size: 30px;
			padding: 2px;
		}

		#menu
			{
				border-style: solid;
				border-radius: 25px;
				border-width: 3px;

				float: center;
				padding-top: 10px;

				margin-right: 40%;
				margin-left: 40%;
				margin-top: 10%;

				font-family: "Lucida Console", Monaco, monospace;
			}
		#menu a{
			color: #000000;
			text-decoration: none;
			font-family: "Lucida Console", Monaco, monospace;

		}
	</style>
</head>
<body>
	<center>
		{%if session%} {{username}} {% endif %}
	</center>
	<div id="menu">
  		<center>
  		{% if !session %}
    		<a href="register">
    			<div class="menuButton">
    				sign up
    			</div>
    		</a>
    		<a href="login">
    			<div class="menuButton">
    				login
    			</div>
    		</a>
    	{% endif %}
    	{% if session %}
    		<a href="profile">
    			<div class="menuButton">
    				profile
    			</div>
    		</a>
    		<a href="chat">
    			<div class="menuButton">
    				trivia
    			</div>
    		</a>
    		<a href="logout">
    			<div class="menuButton">
    				log out
    			</div>
    		</a>
    	{% endif %}
    		<a href="top">
    			<div class="menuButton">
    				top scores
    			</div>
    		</a>
  		</center>
	</div>
</body>
</html>

