<!DOCTYPE html>
<html>
<head>
	<title>{{username}}'s profile</title>
</head>
<body>
	<center>
		username : {{username}}
		<br>
		number of games : {{numOfGames}}
		<br>
		number of right Answers : {{numOfRight}}
		<br>
		number of wrong answers : {{numOfWrong}}
		<br>
		average answering time : {{avgTime}}
	</center>
</body>
</html>