<html>
	<head title = "register">

		<script type="text/javascript">
			function validate(){
				var username = document.forms["register"]["username"].value;
				var email = document.forms["register"]["email"].value;
				var password = document.forms["register"]["password"].value;

				pattern = new RegExp('[A-Z]');
			    if(!(pattern.test(password))){
			    	alert('password must contain a capital letter');
			    	return false;
			    }

			    pattern = new RegExp('[a-z]');
			    if(!(pattern.test(password))){
			    	alert('password must contain lowercase letter');
			    	return false;
			    }

			    pattern = new RegExp('[0-9]');
			    if(!(pattern.test(password))){
			    	alert('password must contain a number');
			    	return false;
			    }

				if(username == ""){
					alert('invalid username');
					return false;
				}

				var atpos = email.indexOf("@");
			    var dotpos = email.lastIndexOf(".");
			    if (atpos<1 || dotpos<atpos+2 || dotpos+2>=x.length) {
			        alert("Not a valid e-mail address");
			        return false;
			    }

				
			   	return true;

			}
		</script>
		<style type="text/css">			
			#signUpForm
			{
				border-style: solid;
				border-radius: 25px;
				border-width: 3px;

				float: center;
				padding-top: 10px;

				margin-right: 40%;
				margin-left: 40%;
				margin-top: 10%;

				font-family: "Lucida Console", Monaco, monospace;
			}
		</style>
	</head>
	<body>
		<div id="signUpForm">
			<center>
				<form method="post" name="register" onsubmit="return validate()">
				User name<br>
				<input type="text" name="username"><br>
				Email<br>
				<input type="text" name="email"><br>
				Password<br>
				<input type="text" name="password"><br>
				<input type="submit" value="sign up"><br>
				{{error}}
			</form>
			</center>
		</div>
	</body>
</html>