<!DOCTYPE html>
<html>
<head>
	<title>room select</title>
	<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
	<script type="text/javascript">
		var socket = io('/chat');

		socket.on('new room',function(room_name){
			var appendStr = '<a href ="/room?name=' + room_name +'">' + room_name + '</a><br>';
			document.getElementById('currentRooms').innerHTML += appendStr;
			document.getElementById('noRooms').innerHTML = "";
		});
	</script>

	<style type="text/css">
		#interface{
			border:solid;
			border-radius: 25px;
			width: 50%;
			margin-left: 25%;
			margin-right: 25%;
			font-family: "Lucida Console", Monaco, monospace;
		}

		#currentRooms{
			font-size: 20px;
			height: 300px;
			margin-bottom: 5px;
			border-bottom: solid;
			overflow-y: auto;
			overflow-x: hidden;
		}

		#currentRooms a{
			text-decoration: none;
			margin-top: 50px;
		}

				#newRoom{
			padding-bottom: 10px;
		}
		#newRoom label{
		    display: inline-block;
		    float: left;
		    clear: left;
		    width: 250px;
		    text-align: right;
		}

		#newRoom input {
		  display: inline-block;
		  float: left;
		}
	</style>
</head>
<body>
	<center>
	<div id="interface">
		<div id='currentRooms'>
			<u>Open Rooms:</u><br><br>
			<div id="noRooms">
			{% if !rooms %}
				No rooms available right now
			{% endif %}
			</div>
			{% if rooms %}
				{% for room in rooms %}
	 				<a href ="/room?name={{room}}">{{room}}</a><br>
				{% endfor %}
			{% endif %}
		</div>
		<div id='createRoom'>
			<form method="post" id='newRoom'>
				<label>room name:</label><input type="text" name="roomName"><br>
				<label>number of questions:</label><input type="number" min="1" max="5" name="qNum"><br>
				<label>number of players:</label><input type="number" min="1" name="maxPlayers"><br>
				<label>time for question:</label><input type="number" min="1" max="10" name="time"><br>
				<input type="submit" value="create room">
				<p></p>
			</form>
		</div>
	</div>
	</center>
</body>
</html>