<!DOCTYPE html>
<html>
<head>
	<title>top scores</title>
</head>
<body>
	<center>
		{% if scores[0] %}{{scores[0]}}{% endif %}<br>
		{% if scores[1] %}{{scores[1]}}{% endif %}<br>
		{% if scores[2] %}{{scores[2]}}{% endif %}<br>
	</center>
</body>
</html>